body, html{
    font-family: 'Roboto', sans-serif;
}

.title{
    font-family: 'Sanchez', serif;
}

#slider{
    /* adicionando imagem de fundo */
    background: url(../assets/fundo.svg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

#filtro-servico{
  background-color: var(--cor4);
}

h1{
    color:var(--cor3);
    font-size: 25px;
}

label{
    color:var(--cor3);
    font-size: 15px;
}

#list-services {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor4)
}

#list-services table{
  color: white;
}

#list-services tbody tr:hover{
    background-color: var(--cor2);
    color: var(--cor3);
   
}

#list-services table tbody {
    font-weight: 400;
}

#botaopesquisar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}