{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Acompanhar Serviço{% endblock %}
{% load static %}
{% block content %}

    <div id="acompanhar-servico" class="container-fluid vh-100">

            <div class="container " >
            <div>
                <p id="texto-servico-em-andamento">Serviços em Andamento</p>
            </div>
            <div  class="overflow-hidden">
                <div id="card-acomp" class=" h-50 w-75 mt-2 ">
                    <div class="row">
                        <div class="col">
                            <p id="texto-acomp">Pessoa ou empresa</p>
                            <p id="texto-acomp">Serviço</p>
                            <p id="texto-acomp">Data</p>
                            <p id="texto-acomp">Avaliação</p>
                        </div>
                        <div class="col-md-3 ms-md-auto mt-5">
                            <button type="button" class="botao" >
                                Finalizar
                            </button>   
                        </div>
                    </div> 
                </div>
                <div id="card-acomp" class="h-50 w-75 mt-2">
                    <div class="row" >
                        <div class="col">
                            <p id="texto-acomp">Pessoa ou empresa</p>
                            <p id="texto-acomp">Serviço</p>
                            <p id="texto-acomp">Data</p>
                            <p id="texto-acomp">Avaliação</p>
                        </div>
                        <div class="col-md-3 ms-md-auto mt-5">
                            <button type="button" class="botao"  >
                                Finalizar
                            </button>   
                        </div>
                    </div> 
                </div>
                <div id="card-acomp" class="h-50 w-75 mt-2">
                    <div class="row">
                        <div class="col">
                            <p id="texto-acomp">Pessoa ou empresa</p>
                            <p id="texto-acomp">Serviço</p>
                            <p id="texto-acomp">Data</p>
                            <p id="texto-acomp">Avaliação</p>
                        </div>
                        <div class="col-md-3 ms-md-auto mt-5">
                            <button type="button" class="botao" >
                                Finalizar
                            </button>   
                        </div>
                    </div> 
                </div>
                <div id="card-acomp" class="h-50 w-75 mt-2">
                    <div class="row">
                        <div class="col">
                            <p id="texto-acomp">Pessoa ou empresa</p>
                            <p id="texto-acomp">Serviço</p>
                            <p id="texto-acomp">Data</p>
                            <p id="texto-acomp">Avaliação</p>
                        </div>
                        <div class="col-md-3 ms-md-auto mt-5">
                            <button type="button" class="botao" >
                                Finalizar
                            </button>   
                        </div>
                    </div> 
                </div>
            </div>
            
        </div>

    </div>


{% endblock %}