{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Detalhes do Serviço{% endblock %}
{% load static %}
{% block content %}
    <div id="detalhe-servico" class="container-fluid vh-100">
        
        <div class="container px-5">
    
            <div class="row  align-items-center">           
         
                <div class="col">
    
                    <div class="mb-2">
                        <span class="text">Kemuel Rocha,</span>
                        <span class="text"> Petrolina-PE</span>
                    </div>
    
                    <div  class="mb-1">
                        <i class="fa fa-phone icon"></i>
                        <span class="numero-contato">XX XXXXX-XXXX</span>
                    </div>
    
                    <div>
                        <i class="fa fa-envelope icon"></i>
                        <span class="numero-contato">exemplo@gmail.com</span>
                    </div>
    
                
                </div>
    
                <div class=" col d-flex justify-content-end">
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
    
            </div>
    
            <div class="row mt-5 er">

                        <div class="col">

                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Área do serviço</label>
                                <input readonly value="xxxxxxxxxx" type="text" class="form-control" > 
                            </div>                            

                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Experiência (anos)</label>
                                <input readonly value="xxxxxxxxxx" type="text" class="form-control " >
                            </div>                            

                        </div>
    
                        <div class="col">
                            
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Título do Serviço</label>
                                <input readonly value="xxxxxxxxxx" type="text" class="form-control" >
                            </div>      
                            
    
                            <div class="row">

                                <div class="col mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Valor</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">R$</span>
                                        <input readonly value="500" type="text" class="form-control" >
                                    </div>
                                    
                                </div>      
                                <div class="col mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Período</label>
                                    <input readonly value="xxxxxxxxxx" type="text" class="form-control" >
                                </div>      
    
                            </div>
    
                        </div>

                        <div class=" mb-2">
                            <label for="exampleInputEmail1" class="form-label">Descrição</label>
                            <textarea  readonly class="form-control" maxlength="10" rows="8">xxxxxxxxxx</textarea>
                        </div>    
                            
                        

            </div>

        </div>
      
    </div>
{% endblock %}