{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/01b373fb7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/main.css">
    

    <title>Detalhes do Serviço</title>
</head>
<body>
    
    <div id="detalhe-servico" class="container-fluid vh-100 pt-3 px-5">
        
        <div class="d-flex justify-content-end mr-5 mt-">
            <a href=""> <i class="material-icons md-48">close</i></a>
        </div>

        <div class="container px-5">
    
            <div class="row  align-items-center">
    
                <img src="../images/userImg.jpg"  alt="avatar">
         
                <div class="col">
    
                    <div class="mb-2">
                        <span class="text">Kemuel Rocha,</span>
                        <span class="text"> Petrolina-PE</span>
                    </div>
    
                    <div  class="mb-1">
                        <i class="fa fa-phone icon"></i>
                        <span class="numero-contato">XX XXXXX-XXXX</span>
                    </div>
    
                    <div>
                        <i class="fa fa-envelope icon"></i>
                        <span class="numero-contato">exemplo@gmail.com</span>
                    </div>
    
                
                </div>
    
                <div class=" col d-flex justify-content-end">
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
    
            </div>
    
            <div class="row mt-5 er">

                        <div class="col">

                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Área do serviço</label>
                                <input readonly value="xxxxxxxxxx" type="text" class="form-control" > 
                            </div>                            

                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Experiência (anos)</label>
                                <input readonly value="xxxxxxxxxx" type="text" class="form-control " >
                            </div>                            

                        </div>
    
                        <div class="col">
                            
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Título do Serviço</label>
                                <input readonly value="xxxxxxxxxx" type="text" class="form-control" >
                            </div>      
                            
    
                            <div class="row">

                                <div class="col mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Valor</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">R$</span>
                                        <input readonly value="500" type="text" class="form-control" >
                                    </div>
                                    
                                </div>      
                                <div class="col mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Período</label>
                                    <input readonly value="xxxxxxxxxx" type="text" class="form-control" >
                                </div>      
    
                            </div>
    
                        </div>

                        <div class=" mb-2">
                            <label for="exampleInputEmail1" class="form-label">Descrição</label>
                            <textarea  readonly class="form-control" maxlength="10" rows="8">xxxxxxxxxx</textarea>
                        </div>    
                            
                        

            </div>

        </div>
      
    </div>
    
</body>
</html>

{% endblock %}