{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    <div id="historico-servico" class="container-fluid vh-100">

        <div class="container">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                <div class="btn-group" role="group">
                    <select class="form-select " aria-label=".form-select-lg example">
                        <option selected>Histórico</option>
                        <option value="1">Serviços Prestados</option>
                        <option value="2">Serviços Contratados</option>
                    </select>
                </div>
            </div>
            <div  class="overflow-hidden">
                <div id="card" class=" h-50 w-75 mt-2 ">
                    <p id="texto">Pessoa ou empresa</p>
                    <p id="texto">Serviço</p>
                    <p id="texto">Data</p>
                    <p id="texto">Avaliação</p>
                </div>
                <div id="card" class="h-50 w-75 mt-2">
                    <p id="texto">Pessoa ou empresa</p>
                    <p id="texto">Serviço</p>
                    <p id="texto">Data</p>
                    <p id="texto">Avaliação</p>
                </div>
                <div id="card" class="h-50 w-75 mt-2">
                    <p id="texto">Pessoa ou empresa</p>
                    <p id="texto">Serviço</p>
                    <p id="texto">Data</p>
                    <p id="texto">Avaliação</p>
                </div>
                <div id="card" class="h-50 w-75 mt-2">
                    <p id="texto">Pessoa ou empresa</p>
                    <p id="texto">Serviço</p>
                    <p id="texto">Data</p>
                    <p id="texto">Avaliação</p>
                </div>
            </div>
            
        </div>

    </div>

{% endblock %}