{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Cadastro{% endblock %}

{% block content %}

<div id="login-register-main" class="container-fluid vh-100">
    
    <div class=" d-flex align-items-center">

        <div class=" container mt-2 col-5 g-0">
            
            <div class="title-bar d-flex justify-content-center">
                <h3 class="py-2">Cadastro</h3>
            </div>

            <div class="contentt d-flex flex-column justify-content-center px-4 py-4">
        
                <form  method='POST'>
                    {%csrf_token%}
                    {{ form|crispy }}
                    
                    <div id="botaopadrao" class="mx-auto mt-4">
                        <button type="submit"  class="botao">
                            Cadastrar
                        </button>
                    </div>
                </form>
    
            </div>
        </div>
    
    </div>
    
</div>




{% endblock %}

<!-- <div class="row mt-4">
                        
    <div class="col mb-2">
        {{ form.nome|as_crispy_field }}
    </div>

</div>
        
<div class="row mb-2">
    
    <div class="col">
        {{ form.senha|as_crispy_field }}
    </div>

    <div class="col">
        {{ form.confirmar_senha|as_crispy_field }}
    </div>

</div>

<div class="row mb-2">

    <div class="col">
        {{ form.telefone|as_crispy_field }}
    
    </div>
    <div class="col">
        {{ form.email|as_crispy_field }}
    </div>
  

</div>
<div class="row mb-2">

    <div class="col">
        {{ form.cidade|as_crispy_field }}
    </div>

    <div class="col">
        {{ form.estado|as_crispy_field }}
    </div>   

</div> -->